# AWS Lambda shell commands
### Last updated: LAST_UPDATED, [skip to the command list ↓](#available-aws-lambda-shell-commands-shortcuts-and-syntax)

## How Lambda works

AWS Lambda is a full Linux microcontainer that boots up in milliseconds, on-demand, and bills in increments of 100ms.

Lambda is primarily used for running the business logic you feed one of its [supported runtimes](https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html) (or your [custom runtime](https://docs.aws.amazon.com/lambda/latest/dg/runtimes-custom.html), if you're into that!).

However, it's not unusual to need to shell out for some kinds of work – after all, UNIX is pretty powerful! 🏋🏽‍♀️

Fortunately, every Lambda (which runs a lightweight AWS AMI) come equipped with a full complement of common Linux shell commands.


### Helpful notes

- AWS [pre-installs the AWS SDK in all JS and Python Lambdas](https://docs.aws.amazon.com/lambda/latest/dg/current-supported-versions.html), so you don't need to include it in your application's dependencies!
  - In fact, doing so will only slow down your Lambda's startup times, so don't do that.
- Important local paths
  - `/var/task` - Your default cwd (and where your code is located)
  - `/tmp` - A nice place to perform local operations
- ⚠️ Security warning: If dealing with any potentially sensitive data on the Lambda filesystem, **be sure to destroy those files before completing your application's execution**.
  - Lambda microcontainers are kept warm and recycled across processes, and you really don't leave open the possibility of leaking data across executions – statelessness is a feature!


### Build your own Lambda-based application

Partially self-serving plug: this project is built with [Architect](https://arc.codes), an open source serverless framework created and maintained by the company I cofounded: [Begin](https://begin.com), an open source-centric serverless app platform, created to help people like you build the fast, durable, scalable, affordable, maintainable, serverless software of the future.


## Available AWS Lambda shell commands, shortcuts, and syntax

SHELL_COMMANDS


## Credits

This project inspired by [What's on Lambda](https://github.com/mbrock/whats-on-lambda)!
